@page "/"
@using DataJuggler.Blazor.Components

<PageTitle>Bubble Report</PageTitle>

<div class="maincolumn1">
<Grid Name="TopStreaksStockGrid" ClassName="grid" Unit="px" Width="310" HeightUnit="px" Height=278
    ShowHeader="true" HeaderText = "Top Streak Stocks" HeaderClassName = "width320 textaligncenter"
    ShowColumnHeaders=true Parent="this" Left="40" Top=-24 FontSize="12"></Grid>

    <Grid Name="TopLosingStreakStockGrid" ClassName="grid" Unit="px" Width="310" HeightUnit="px" Height=278
      ShowHeader="true" HeaderText="Top Losing Streak Stocks" HeaderClassName="width320 textaligncenter"
      ShowColumnHeaders=true Position="relative" Parent="this" Left="40" Top=48 FontSize="12"></Grid>
</div>


<div class="topcenter">
    <Grid Name="MarketSummaryGrid" ClassName="gridsmall" Unit="px" Width="144" HeightUnit="px" Height=48
          ShowHeader="true" HeaderText="Market Summary" HeaderClassName="width128 textaligncenter textdonotwrap"
          ShowColumnHeaders=true Position="relative" Parent="this" Left="0" Top=8 FontSize="12"></Grid>
</div>

<div class="maincolumn3">
    <Grid Name="TopIndustryGrid" ClassName="gridwide" Unit="vw" Width="29" HeightUnit="px" Height=440
        ShowHeader="true" HeaderText="Top Industry Streak" HeaderClassName="width348 textaligncenter textdonotwrap"
        ShowColumnHeaders=true Position="relative" Parent="this" Left="50" Top=8 FontSize="12"></Grid>
</div>

<div class="maincolumn4">
    <Grid Name="LosingIndustryGrid" ClassName="gridwide" Unit="vw" Width="29" HeightUnit="px" Height=440
          ShowHeader="true" HeaderText="Industry Losing Streak" HeaderClassName="width348 textaligncenter textdonotwrap"
          ShowColumnHeaders=true Position="relative" Parent="this" Left="50" Top=8 FontSize="12"></Grid>

    <Grid Name="SectorGrid" ClassName="gridwide" Unit="vw" Width="29" HeightUnit="px" Height=440
          ShowHeader="true" HeaderText="Industry Losing Streak" HeaderClassName="width348 textaligncenter textdonotwrap"
          ShowColumnHeaders=true Position="relative" Parent="this" Left="50" Top=8 FontSize="12"></Grid>
</div>


